.form-div {    
    border: solid 1px red;
    padding: 2rem;
    width: 30rem;
}

.text-input {
    padding: .3rem .5rem;
    margin-left: 1rem;
}

.submit-btn {
    padding: .3rem .5rem;
    margin-left: 1rem;
        
}

.proj-div {
    
    margin-top: 2rem;
    
    color: black;
    

    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 3rem;
    
}

.proj {
    width: 100px;
    height: 100px;
    border: solid 1px blue;
    padding: 1rem;
    
}