* {
    padding: 0;
    margin: 0;
}

#content {
    
    height: 100vh;
    

    display: grid;
    grid-template-rows: 15vh 85vh;
    grid-template-columns: 17% 83%;

    overflow: hidden;
    
    
}

.big-letters {
    font-size: 32px;
}

.header-div {
    padding: 2rem 1rem;    
    background-color: gray;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.side-bar-div {
    padding: 1rem;
    background-color: lightgreen;

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;    

}

.body-div {

    
    
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;   

    padding: 2rem;
    
    overflow: hidden;
}


.body-header-div {
    height: 10%;
    width: 85%;
    
    display: flex;
    align-items: center;
    padding: 0rem 1rem; 
}

.form-header-div {
    height: 10%;
    width: 80%;
    border: solid 1px gray;
    display: flex;
    align-items: center;
    padding: 0rem 1rem; 

}


/* project index view */
.proj-grid-div {      
    height: 78%;
    width: 71%;
    
    
    
    
    
      
    display: grid;
    grid-template-columns: repeat(4, 200px);    
    grid-auto-rows: 200px;
    overflow: scroll;  
    row-gap: .5rem;  

    
    

    padding: 1rem 3rem 0rem;

    

    
}

.text-input {
    padding: .3rem .5rem;
    margin-left: 1rem;
}

.submit-btn {
    padding: .3rem .5rem;
    margin-left: 1rem;
    background: lightgreen;
    border: none;

    cursor: pointer;

    transition: 0.2s ease-in;
        
}

.submit-btn:hover {
    transform: scale(1.1);
}

.proj-card {
    width: 150px;
    height: 150px;
    border: solid 1px gray;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    
    transition: 0.2s ease-in;

    cursor: pointer;
}

.complete {
    border: solid 2px lightgreen;
}

.incomplete {
    border: solid 2px orange;
}

.proj-card:hover {
    border: solid 1px black;
    border-radius: 6px;
}

.delete-btn {
    padding: .3rem 0rem;
    border: none;
    background-color: rgb(241, 73, 73);
    width:4rem;
    cursor: pointer;

    transition: 0.2s ease-in;
}

.delete-btn:hover {
    transform: scale(1.1);
}

/* start project view */
.main-div {
    height: 78%;
}


.proj-main-div {
    height: 100%;
    width: 77%;
    
    
    
    

    display: flex;
    flex-direction: column;
    
}

.home-btn {
    width: 8rem;
    height: 2rem;
    
    background-color: white;
    color: black;
    border: none;

    transition: 0.2s ease-in;

    cursor: pointer;
}

.home-btn:hover {
    border: none;
    transform: scale(1.1);
    color: gray;
}

.item-div {
    
    
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-top: 1rem;

    overflow: scroll;

    padding-left: 2rem;
}

.item-card {
    
    padding: 1rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

